<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongo ▸ Development</title>
    <link rel="icon" type="image/x-icon" href="./logo.png" />
    <link rel="stylesheet" type="text/css" href="./auth.css">
</head>
<body>
    <img class="content-pic" src="./check.png">
    <p class="text">You have been successfully verified</p>
</body>
</html>